[submodule "sqlite-cmake"]
	path = sqlite-cmake
	url = https://github.com/changyy/sqlite-cmake.git
[submodule "ffmpeg-cmake"]
	path = ffmpeg-cmake
	url = https://github.com/changyy/ffmpeg-cmake.git
[submodule "libFLAC-cmake"]
	path = libFLAC-cmake
	url = https://github.com/changyy/libFLAC-cmake.git
[submodule "libvorbis-cmake"]
	path = libvorbis-cmake
	url = https://github.com/changyy/libvorbis-cmake.git
[submodule "libogg-cmake"]
	path = libogg-cmake
	url = https://github.com/changyy/libogg-cmake.git
[submodule "libid3tag-cmake"]
	path = libid3tag-cmake
	url = https://github.com/changyy/libid3tag-cmake.git
[submodule "libexif-cmake"]
	path = libexif-cmake
	url = https://github.com/changyy/libexif-cmake.git
[submodule "libjpeg-cmake"]
	path = libjpeg-cmake
	url = https://github.com/changyy/libjpeg-cmake.git
